
@charset "utf-8";

/* Noto Sans */
@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans Thin'), local('NotoSans-Thin'),
        url(../font/notosans/NotoSansKR-Thin-Hestia.eot),
        url(../font/notosans/NotoSansKR-Thin-Hestia.eot?#iefix) format('embedded-opentype'),
        url(../font/notosans/NotoSansKR-Thin-Hestia.woff) format('woff'),
        url(../font/notosans/NotoSansKR-Thin-Hestia.otf) format('opentype');
}

/* Everett */
@font-face {
    font-family: 'Everett Light';
    font-style: normal;
    font-weight: 300;
    src: local('Everett-Light'),
        url(../font/everett/Everett-Light.woff2) format('woff2')
}

@font-face {
    font-family: 'Everett Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Everett-Regular'),
        url(../font/everett/Everett-Regular.woff2) format('woff2')
}

@font-face {
    font-family: 'Everett Medium';
    font-style: normal;
    font-weight: 500;
    src: local('Everett-Medium'),
        url(../font/everett/Everett-Medium.woff2) format('woff2')
}

@font-face {
    font-family: 'EverettJana Regular';
    font-style: normal;
    font-weight: 400;
    src: local('EverettJana-Regular'),
        url(../font/everett/EverettJana-Regular.woff2) format('woff2')
}

/* Roboto */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url(../font/roboto/Roboto-Thin.woff2) format('woff2'),
        url(../font/roboto/Roboto-Thin.woff) format('woff'),
        url(../font/roboto/Roboto-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(../font/roboto/Roboto-Light.woff2) format('woff2'),
        url(../font/roboto/Roboto-Light.woff) format('woff'),
        url(../font/roboto/Roboto-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../font/roboto/Roboto-Regular.woff2) format('woff2'),
        url(../font/roboto/Roboto-Regular.woff) format('woff'),
        url(../font/roboto/Roboto-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(../font/roboto/Roboto-Medium.woff2) format('woff2'),
        url(../font/roboto/Roboto-Medium.woff) format('woff'),
        url(../font/roboto/Roboto-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(../font/roboto/Roboto-Bold.woff2) format('woff2'),
        url(../font/roboto/Roboto-Bold.woff) format('woff'),
        url(../font/roboto/Roboto-Bold.otf) format('opentype');
}

/* reset */
html {
    height: 100%
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Noto Sans Korean', dotum, sans-serif
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
img {
    margin: 0;
    padding: 0;
    border: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 16px;
    font-family: 'Noto Sans Korean', dotum, sans-serif
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ul,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none
}

legend {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    overflow: hidden
}

label,
input,
button,
select,
img {
    vertical-align: middle;
    font-size: 16px
}

input,
button {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Korean', dotum, sans-serif;
    font-size: 15px;
    font-weight: bold
}

input[type="submit"] {
    cursor: pointer
}

button {
    cursor: pointer
}

textarea,
select {
    font-family: 'Noto Sans Korean', dotum, sans-serif;
    font-size: 16px
}

select {
    margin: 0
}

p {
    margin: 0;
    padding: 0;
    word-break: break-all;
    font-weight: bold
}

hr {
    display: none
}

pre {
    overflow-x: scroll
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #333
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* layout */
.main,
.main article {
    overflow: hidden;
    position: relative;
}

.main .header {
    position: absolute;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #45505d;
    width: 100%;
    height: 70px;
    line-height: 68px;
    text-align: center;
    color: #fff;
}

.main .header .logo {
    position: absolute;
    top: 20px;
    left: 40px;
}

.main .header .logo a {
    display: block;
    width: 118px;
}

.main .header .logo a>img {
    display: block;
    width: 100%;
}

.main .header .text {
    font-family: Roboto;
    font-weight: 300;
    letter-spacing: 1px;
}

.main .header .text>img {
    position: relative;
    top: -2px;
    vertical-align: middle;
    width: 17px;
    height: 17px;
}

.main .header .copy {
    position: absolute;
    top: 0;
    right: 40px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
}

.main .cnt01 {
    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.main .cnt01 .count {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.main .cnt01 .count:before {
    content: '';
    position: absolute;
    top: -160px;
    left: 50%;
    z-index: 10;
    margin-left: -56px;
    width: 112px;
    height: 106px;
    background: url(../images/ico_symbol.svg) no-repeat;
}

.main .cnt01 .count:after {
    content: "";
    display: block;
    clear: both;
}

.main .cnt01 .count>li {
    display: inline-block;
    position: relative;
    width: 170px;
    text-align: center;
}

.main .cnt01 .count>li::after {
    content: ':';
    position: absolute;
    top: -8px;
    right: -10px;
    font-size: 60px;
}

.main .cnt01 .count>li:last-child::after {
    display: none;
}

.main .cnt01 .count>li span {
    font-family: 'EverettJana Regular';
    display: inline-block;
    position: relative;
    line-height: 100px;
    font-size: 125px;
}

.main .cnt01 .info {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    margin-top: 110px;
    letter-spacing: 1px;
    font-family: 'Roboto';
    font-size: 30px;
    text-align: center;
    color: #fff;
}

.main .cnt01 .scroll {
    overflow: hidden;
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    padding-bottom: 55px;
    color: #fff;
}

.main .cnt01 .scroll:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -0.5px;
    width: 1px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.4);
}

.main .cnt01 .scroll .text {
    font-family: 'Roboto';
    font-size: 12px;
}

.main .cnt01 .scroll .bar {
    position: absolute;
    top: 35px;
    left: 50%;
    margin-left: -0.5px;
    width: 1px;
    height: 0;
    background-color: rgba(255, 255, 255, 1);
}

.main .cnt01 .share {
    overflow: hidden;
    position: absolute;
    bottom: 45px;
    left: 40px;
    z-index: 10;
    width: 24px;
    height: 24px;
    transition: height 0.3s;
}

.main .cnt01 .share.on {
    height: 180px;
}

.main .cnt01 .share>button {
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    width: 24px;
    height: 24px;
    outline: none;
    background: url(../images/share.svg) no-repeat;
}

.main .cnt01 .share.on>button {
    background: url(../images/ico_share_hover.svg) no-repeat;
}

.main .cnt01 .share .list {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
}

.main .cnt01 .share .list>a {
    display: block;
    width: 24px;
    height: 24px;
    transition: 0.3s;
    transform: scale(0);
    opacity: 0;
}

.main .cnt01 .share.on .list>a {
    transform: scale(1);
    opacity: 1;
}

.main .cnt01 .share .list>.instagram {
    margin-bottom: 25px;
    background: url(../images/ico_insta.svg) no-repeat;
}


.main .cnt01 .share .list>.youtube {
    margin-bottom: 30px;
    background: url(../images/ico_youtube.svg) no-repeat;
}


.main .cnt01 .share .list>.facebook {
    background: url(../images/ico_facebook.svg) no-repeat;
}

.main .cnt01 .btn_sound {
    position: absolute;
    bottom: 28px;
    right: 40px;
    z-index: 10;
    border: none;
    width: 24px;
    height: 24px;
    background: url(../images/ico_stop.svg) no-repeat 0 0/24px 24px;
    outline: none;
}

.main .cnt01 .btn_sound.on {
    background: url(../images/ico_play.svg) no-repeat 0 0/24px 24px;
}

.main .cnt01 .main_video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .cnt02 {
    width: 100%;
    background-color: #101920;
}

.main .cnt02 .info {
    position: relative;
    padding: 100px 20px 100px 270px;
    max-width: 1640px;
    width: 100%;
    font-family: 'Roboto';
    color: #fff;
}

.main .cnt02 .info .title {
    position: absolute;
    top: 100px;
    left: 20px;
    font-size: 20px;
    font-weight: 400;
}

.main .cnt02 .info .text {
    font-size: 20px;
    font-weight: 400;
}

.main .cnt03 {
    position: relative;
    margin: 0 auto;
    padding: 120px 0 0;
    max-width: 1640px;
    width: 100%;
}

.main .cnt03:after {
    content: '';
    display: block;
    clear: both;
}

.main .cnt03 .item {
    float: left;
    width: 32.5%;
    margin: 1.25% 1.25% 0 0;
}

.main .cnt03 .item:nth-child(3),
.main .cnt03 .item:nth-child(6) {
    margin-right: 0;
}

.main .cnt03 .item img {
    width: 100%;
}


.main .cnt04 {
    width: 100%;
}

.main .cnt04 .info {
    position: relative;
    padding: 80px 20px 120px 270px;
    max-width: 1640px;
    width: 100%;
    font-family: 'Roboto';
}

.main .cnt04 .info .title {
    position: absolute;
    top: 80px;
    left: 20px;
    font-size: 20px;
    font-weight: 400;
}

.main .cnt04 .info .text {
    font-size: 20px;
    font-weight: 400;
}

.main .cnt05 {
    width: 100%;
    height: 1000px;
    background-image: url(../images/bg_cnt05.jpg);
    background-position: center;
    background-size: cover;
}

.main .cnt06 {
    width: 100%;
}

.main .cnt06 .info {
    position: relative;
    margin: 0 auto;
    padding: 80px 20px 120px 270px;
    max-width: 1640px;
    width: 100%;
    font-family: 'Roboto';
}

.main .cnt06 .info .title {
    position: absolute;
    top: 80px;
    left: 20px;
    font-size: 20px;
    font-weight: 400;
}

.main .cnt06 .info .text {
    font-size: 20px;
    font-weight: 400;
}

.main .cnt06 .visual {
    margin: 0 auto;
    padding-bottom: 200px;
    max-width: 1640px;
}

.main .cnt06 .visual:after {
    content: '';
    display: block;
    clear: both;
}

.main .cnt06 .visual > img {
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
    width: 50%;
}

.main .cnt07 .info {
    position: relative;
    margin: 0 auto;
    padding: 100px 20px 100px 270px;
    max-width: 1640px;
    width: 100%;
    font-family: 'Roboto';
    background-color: #000;
    color: #fff;
}

.main .cnt07 .info .title {
    position: absolute;
    top: 100px;
    left: 20px;
    font-size: 20px;
    font-weight: 400;
}

.main .cnt07 .info .text {
    font-size: 20px;
    font-weight: 400;
}

.main .cnt07 .info .text {
    font-size: 20px;
    font-weight: 400;
}

.main .cnt08 .list {
    margin: 0 auto;
    padding: 0 10px 200px;
    max-width: 1640px;
}





.main .cnt08,
.main .cnt09,
.main .cnt10,
.main .cnt11,
.main .cnt12,
.main .cnt13,
.main .cnt14,
.main .cnt15,
.main .cnt16,
.main .cnt17 {
    width: 100%;
    background-position: center;
    background-size: cover;
}

.main .cnt08 {
    height: 1280px;
    background-image: url(../images/bg_cnt08.png);
    background-attachment: fixed;
}

.main .cnt09 {
    height: 1280px;
    background-image: url(../images/bg_cnt09.png);
}

.main .cnt10 {
    height: 1280px;
    background-image: url(../images/bg_cnt10.png);
}

.main .cnt11 {
    height: 1280px;
    background-image: url(../images/bg_cnt11.png);
}

.main .cnt12 {
    height: 962px;
    background-image: url(../images/bg_cnt12.png);
}

.main .cnt13 {
    height: 1280px;
    background-image: url(../images/bg_cnt13.png);
}

.main .cnt14 {
    height: 962px;
    background-image: url(../images/bg_cnt14.png);
}

.main .cnt15 {
    height: 1269px;
    background-image: url(../images/bg_cnt15.png);
}

.main .cnt16 {
    height: 1283px;
    background-image: url(../images/bg_cnt16.png);
}

.main .cnt17 {
    height: 1322px;
    background-image: url(../images/bg_cnt17.png);
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    width: 100px;
    height: 100px;
}

@keyframes rotate_img {
    100% {
        transform: rotate(360deg);
    }
}

/*  
@keyframes up_down {
0% {
    bottom: 0px;
}
100% {
    bottom: 22.5px;
}
} */

/* Tablet 
@media all and (min-width:768px) and (max-width:1023px) {

} */

/* mobile 
@media all and (max-width:768px) {

} */
